:host {
  display: inline-block;
  box-sizing: content-box;
  stroke: currentColor !important;
  fill: currentColor !important;
  width: 1em;
  height: 1em;
  contain: strict;
}

:host(.dd-Icon--sm) {
  font-size: 0.9375rem;
}
:host(.dd-Icon--md) {
  font-size: 1.875rem;
}
:host(.dd-Icon--lg) {
  font-size: 3.125rem;
}
:host(.dd-Icon--xl) {
  font-size: 6.25rem;
}

:host(.dd-Icon--2xl) {
  font-size: 12.5rem;
}

:host(.dd-Icon--xxl) {
  font-size: 21.5625rem;
}

:host(.dd-Icon--extraLight) {
  stroke: 0.3;
}
:host(.dd-Icon--light) {
  stroke: 0.5;
}
:host(.dd-Icon--regular) {
  stroke: 0.75;
}
:host(.dd-Icon--semiBold) {
  stroke: 1;
}
:host(.dd-Icon--bold) {
  stroke: 3;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
}
